body{
    background-image: url("../../images/bgwood.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.div1{
    text-align: center;
    align-items: center;
    margin-top: 40px;
}
.card{
    width: 350px;
    height: 660px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-top: 20px;
}
.card-img-top{
    margin-top: 20px;
}
#img-head{
    border-radius: 100%;
    border: 1px solid darkcyan;
}
#info-para{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
#email-phone{
    background-color: darkcyan;
    height: 30px;
    margin-left: -16px;
    width: 340px;
    font-size:14px;
    color: white;
    text-align: center;
    border-radius: 5px;
}
#span{
    margin-top: 100px;
}
#anchor-card-footer{
    background-color:  #262626;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
}
.card-footer>div>a>span{
    color: white;
}
.card-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkcyan;
}
.card-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#contactdiv{
    background-color: whitesmoke;
    margin-bottom: 30px;
}
#contact{
    margin-left: 10px;
    font-weight: bold;
}
#contacthr{
    height: 2px;
    background-color: darkcyan;
}
#contactid{
    margin-top: 15px;
}
#address{
    margin-left: 10px;
    color: darkcyan;
}
#phone{
    margin-left: 10px;
    color: darkcyan;
}
#mail{
    margin-left: 10px;
    color: darkcyan;
}
#sendmessage{
    margin-left: 10px;
    color: darkcyan;
}

#hrline{
    margin-top: 0px;
    width: 320px;
    height: 1px;
    background-color: darkcyan;
}
#para{
    margin-top: -10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#mobpara{
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
#emailpara{
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
#input{
    margin-bottom: 10px;
    width: 320px;
    margin-left: 15px;
}
#button{
    background-color: darkcyan;
    color: white;
}